@import './variables';
@mixin tablet-portrait-up {
  @media (min-width: $tablet-portrait) {
    @content;
  }
}

@mixin tablet-landscape-up {
  @media (min-width: $tablet-landscape) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin medium-desktop-up {
  @media (min-width: $medium-desktop) {
    @content;
  }
}

@mixin big-desktop-up {
  @media (min-width: $big-desktop) {
    @content;
  }
}

@mixin scale {
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}
