// colors
$black-pearl: #15161e;
$black-currant: #050515;
$white: #fff;
$white-gainsboro: #e6e6e6;
$moccasin: #ffecbc;
$red: #f31616;
$red-100: #f41616;
$red-200: #ff3232;

// background color
$base-background: $black-pearl;

// responsive device
$tablet-portrait: 37.5rem;
$tablet-landscape: 56.25rem;
$desktop: 75rem;
$medium-desktop: 100rem;
$big-desktop: 120rem;
