.our-partners {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 120px 190px;
  background-color: #f6f6f6;

  &__title {
    font-family: $font-playfair-dispaly;
    font-size: 60px;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: 3.6px;
    color: #000000;
    margin-bottom: 80px;
  }

  &__slide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1540px;
  }
  .slide__container {
    width: calc(100% - (40px * 2));
  }

  .slide__item {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .item__content {
    width: 260px;
    height: 100px;
  }

  .btn {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    outline: none;
    border: none;
    cursor: pointer;
    padding: unset;
    border-radius: 10px;
    z-index: 99;
    width: 40px;
    height: 40px;
    img {
      width: 40px;
      height: 40px;
      object-fit: contain;
    }
  }

  .btn--next {
    img {
      transform: rotate(180deg);
    }
  }

  @include medium-desktop-down {
    padding: 60px 100px;
  }

  @include tablet-landscape-down {
    padding: 60px;
  }

  @include tablet-portrait-down {
    padding: 0;
    padding-bottom: 40px;
    padding-top: 50px;
    margin-top: -50px;
    &__title {
      font-size: 40px;
      line-height: 50px;
      letter-spacing: 0.6px;
      margin: 40px 16px;
    }

    &__slide {
      position: relative;
    }

    .slide__container {
      width: 100%;
    }

    .slide__item {
      width: 200px !important;
      height: 72px;
      padding-inline: 6px;
    }

    .item__content {
      width: 188px;
      height: 72px;
    }

    .btn {
      position: absolute;
      left: 16px;
    }

    .btn--next {
      right: 16px;
      left: unset;
    }
  }
}
