.scroll-button {
  position: fixed;
  bottom: 44.67px;
  right: 80px;
  z-index: 100;
  cursor: pointer;

  img {
    width: 80px;
    height: 80px;
    transition: 0.4s;
  }

  .up {
    transform: rotate(180deg);
    transform-origin: center;
  }

  @include tablet-portrait-down {
    right: 16px;
    bottom: 16px;
  }
}
